<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <div class="alert alert-success" role="alert" id = "info">
    Info
  </div>

  <ul class="nav nav-pills mb-3" id="nav-tab" role="tablist">
    
      <li class="nav-item"><a class="nav-link active" id="nav-regex1-tab" data-toggle="tab" href="#nav-regex1" role="tab" aria-controls="nav-regex1" aria-selected="true" reg-id="1">Regex1</a></li>
      <li class="nav-item"><a class="nav-link" id="nav-regex2-tab" data-toggle="tab" href="#nav-regex2" role="tab" aria-controls="nav-regex2" aria-selected="false" reg-id="2">Regex2</a></li>
      <li class="nav-item"><a class="nav-link" id="nav-regex3-tab" data-toggle="tab" href="#nav-regex3" role="tab" aria-controls="nav-regex3" aria-selected="false" reg-id="3">Regex3</a></li>
    
   </ul>

  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade in active" id="nav-regex1" role="tabpanel" aria-labelledby="nav-regex1-tab">
      <h2>First REGULAR EXPRESSION</h2>
      <form>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="reg_expression1"></textarea>
        </div>
      </form>
    </div>

    <div class="tab-pane fade" id="nav-regex2" role="tabpanel" aria-labelledby="nav-regex2-tab">
      <h2>Second REGULAR EXPRESSION</h2>
      <form>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="reg_expression2">north</textarea>
        </div>
      </form>
    </div>

    <div class="tab-pane fade" id="nav-regex3" role="tabpanel" aria-labelledby="nav-regex3-tab">
      <h2>Third REGULAR EXPRESSION</h2>
      <form>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="reg_expression3"></textarea>
        </div>
      </form>
    </div>
  </div>






  <h2>TEST STRING</h2>
  <form>
    <div class="form-group">
      <textarea class="form-control" rows="25" id="reg_text">
Said portion being more particularly described as follows: For a point of reference commence at a 2 inch iron pipe located on the
Southeasterly right of way line of Airplane Lane (a 100 foot right of way) at the most Northerly corner of Lot 29 aforesaid; and
run South 35 degrees 23 minutes East along the Northeasterly line of said Lot a distance of 568.80 feet to a set 1 inch iron pipe
with cap stamped PLS 4899 for the Point of Beginning.

From the Point of Beginning thus described continue South 35 degrees 23 minutes East along aforesaid Northeasterly line, a
distance of 330.0 feet to a set 1 inch iron pipe with cap stamped PLS 4899 at the Easterly corner of said Lot 29; run thence South
54 degrees 33 minutes West along the Southeasterly line of said Lot, a distance of 241.51 feet to a set iron pipe with cap stamped
PLS 4899; run thence North 35 degrees 25 minutes West a distance of 330.0 feet feet to a set iron pipe with cap stamped PLS
4899; run thence North 54 degrees 33 minutes East a distance of 241.89 feet to the Point of Beginning.
      </textarea>
    </div>
  </form>


  <button type="button" class="btn btn-primary" id="recognize">Recognize</button>


  <h2>Result</h2>
  <form>
    <div class="form-group" id="reg_result">
    </div>
  </form>



  <div id="jietuWrap" class="b1" style="display:none;">
		<img id="jietuImg" src="">
		<br />
	</div>

</div>



<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


</body>
</html>